.artists{
    margin-bottom: 20px;
    &__container{
        display: flex;
        width: 100%;
        overflow: hidden; 
        gap: 1rem; 
    }
    &__track {
        display: flex;              /* pone todos .artist__card en fila */
        animation: scroll-right 60s linear infinite;
      }
    &__card {
        display: flex;
        gap: 5px;
        background-color: whitesmoke;
        padding: 10px;
        flex: 0 0 auto;             /* que cada card conserve su ancho */
        margin-right: 1rem;         /* separación opcional */

        p:first-child {
            font-weight: bold;
          }
          
      }
}


/* Animación: de start (0) a finish (-50% del ancho total) */
@keyframes scroll-right {
  0%   { transform: translateX(-10%); }  /* empieza desplazado media pista */
  100% { transform: translateX(0); }     /* termina en posición inicial */
}