.navbar{
    display: flex;
    position: static;
    padding: 10px;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 10px #00000040;
    &__img{
        img{
            width: 150px;
        }
    }
    &__links{
        position: relative;
        left: 5%;
        display: flex;
        gap:20px
    }
    a{
        cursor: pointer;
        font-weight: bold;
        &:hover{
            color: #E55117;
        }
    }
    
}

