.songs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 20px 20px;
    gap: 1rem;
    background-color:white;
        &__card{
            padding: 1rem;
            background-color:whitesmoke;
            border-radius: 5px;
            transition: transform 0.08s ease-in;
            box-shadow: 0px 4px 10px #00000040;
            // cursor: pointer;
            &:hover{
                transform: translateY(-5px);
            }
            & button{
                cursor: pointer;
                padding: 10px;
                background-color: orange;
                font-weight: bold;
                border-radius: 5px;
                margin-top: 20px;
            }
    }
}